

@media only screen and (max-width : 992px) {

    h1{
        padding-top: 40px;
        font-size: 40px;
    }
    header{
        height: 820px;
    }
    .subtitle_h1{
        font-size: 22px;
    }
    .logo1 {
        font-size: 26px;
        padding-left: 1%;
    }
    .logo2{
        font-size: 40px;
        padding-right: 10%;
    }
    .menu{
        margin: 30px 0 45px 0;
    }
    .menu li a{
        font-size: 14px;
        padding: 12px 20px;
    }
    .my_btn{
        font-size: 10px;
        padding: auto;
        width: 200px;
        height: 50px;
        }
    h3{
        font-size: 34px;
        padding-bottom: 12px;
    }
    .subtitle{
        line-height: 2.2;
        padding-bottom: 35px;
    }
    .div_quote{
    position: static;
    }
    #promote{
        text-align: center;
        background-image:none;
    }
    footer, header{
        text-align: center;
    }
    .numbers_text {
        font-size: 60px;
        padding-right: 10px;
    }
    .step{
        font-size: 22px;
    }
    .peopleQuoteP{
        font-size: 18px;
    }
    .project_p{
        font-size: 22px;
    }
    .contacts_p1, .contacts_p2, .contacts_p3{
        font-size: 18px;
    }
    .plan_header{
        font-size: 24px;
    } 
    .contact_us_btn{
        font-size: 18px;
    }
    .tellabout_p{
        font: 400 20px / 30px Lora;
        padding-bottom: 26px;
    }
    .tellabout_numbers{
        font-size: 35px;
        padding-bottom:28px; 
    }
    .brands{
        padding-bottom: 60px; 
    }
}


@media only screen and (max-width : 768px) {

    h1{
        font-size: 36px;
    }
    header{
        height: 710px;
    }
    .subtitle_h1{
        font-size: 18px;
    }
    footer, header{
        text-align: center;
    }
    .logo1 {
        font-size: 22px;
    }
    .logo2{
        font-size: 34px;
        padding-right: 10%;
        padding-bottom: 30px;
    }
    .menu li{
        display: block;
        text-align: center;
    }
    .menu li a{
        font-size: 16px;
        padding: 18px 12px;
    }
    .my_btn{
        font-size: 10px;
        padding: 18px 10px;
        width: 160px;
        height: 50px;
    }
    h3{
    font-size: 34px;
    padding-bottom: 10px;
} 
    .subtitle{
        font-size: 16px;
        line-height: 2.2;
        padding-bottom: 25px;
    }
    section{
        padding: 65px 0;
    }
}



@media only screen and (max-width : 480px) {

    h1{
        font-size: 24px;
    }
    .subtitle_h1{
        font-size: 14px;
        line-height: 1.1;
    }
    header{
        height: 710px;
    }
    .subtitle_h1{
        font-size: 18px;
    }
    footer, header{
        text-align: center;
    }
    .logo1 {
        font-size: 22px;
    }
    .logo2{
        font-size: 34px;
        padding-right: 10%;
        padding-bottom: 30px;
    }
    .menu li{
        text-align: center;
    }
    .menu li a{
        font-size: 14px;
        padding: 12px 0;
    }
    .my_btn{
        font-size: 10px;
        padding: 18px 10px;
        width: 160px;
        height: 50px;
    }
    h3{
    font-size: 26px;
    padding-bottom: 12px;
}
    .subtitle{
        font-size: 14px;
        line-height: 2.2;
        padding-bottom: 25px;
    }
    section{
        padding: 25px 0;
    }
    .step{
        font-size: 16px;
    }
    .peopleQuoteP{
        font-size: 14px;
    }
    .project_p{
        font-size: 16px;
    }
    .contacts_p1, .contacts_p2, .contacts_p3{
        font-size: 14px;
    }
    .plan_header{
        font-size: 24px;
    } 
    .contact_us_btn{
        font-size: 18px;
    }
    .tellabout_p{
        font: 400 20px / 30px Lora;
        padding-bottom: 26px;
    }
    .tellabout_numbers{
        font-size: 26px;
        padding-bottom:22px; 
    }
    .brands{
        padding-bottom: 45px; 
    }
    .numbers_text {
        font-size: 45px;
        padding-right: 10px;
    }
    .stepP{
        font-size: 14px;
    }
}
